/* Red crystle, Blue crystle, Gold crystle, green crystle */
/* Back ground scuiggle blue patter */
 
body {
    background: url("../images/background.png");
   }

   .jumbotron{
    background: url("../images/background.png"); 
   }

   .img-thumbnail{
    background: url("../images/background.png");
    width: 100px;
    height: 100px;

   }
