/* Red crystle, Blue crystle, Gold crystle, green crystle */
/* Back ground scuiggle blue patter */
/* 
body { 
    background-image: url('assets\css\style.css\background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  } */

  /* s */